*{
    font-family: 'Paytone One', sans-serif;
}
body{
    background: url("/images/background_opening.jpg") center no-repeat fixed;
    background-size: cover;
    padding: 50px;
}

#main{
    width: 1150px;
    margin: 50px;
    padding: 50px;
    border-radius: 30px;
    border: 10px solid #f8e3ca;
}

#travel{
    margin-left: 350px;
    border-radius: 30px;
}

.button {
    border: none;
    color: white;
    padding: 20px 40px;
    text-align: center;
    font-size: 23px;
    cursor: pointer;
    margin-left: 350px;
    border-radius: 30px;
  }

.button1 {background-color: rgb(141, 196, 218);}